// COLORS

$bgc: #161616;
$partialColor: #313131;
$primary: royalblue;
$secondary: #FF9019;
$tertiary: #fff;

// FONTS

$text: 'PT Sans', sans-serif;
$heading: 'Rubik', sans-serif;
$special: 'Rubik Mono One', monospace;

// SPECIES

$radius: 60px;