.logo {
    display: flex;
    align-items: center;
    .logo-icon {
        height: 40px;
        margin-right: 15px;
        filter: invert(1);
    }
    h1, .h1 {
        margin-bottom: -8px;
        line-height: 1;
    }
}


.l-sec--header {

    background-color: $partialColor;

    .row {
        .col {

            &--nav {
                ul {
                    flex-direction: row;
                    gap: 20px;
                    justify-content: flex-end;
                    a {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}